body {
	max-width: 1600px;
	margin: 0 auto;
	padding: 4em;
	font-size:80px;
	text-align: center;
      
}
body {
	background-color: #fcfbfb;
	font-family: Raleway, Arial, sans-serif;
	font-size: 22px;
	margin: 0;
	padding: 0;
}
logo_link {
	padding-top: 5px;
}
h2 {
	margin: 0;
	text-align: center;

    }
header {
	background-color:rgba(49, 50, 48, 0.7);
}

nav a:hover {
	background-color: rgb(7, 60, 120); 
}
footer {
	margin-top: 200px;
	padding: 25px 50px;
	background-color:rgba(229, 235, 224, 0.7);
 }
footer .social img {
	padding-top: 15px;
}
.icon {
	padding: 10px;
	width: 80px;
}
nav a {
	padding: 35px;
	text-align: center;
	color: #fcfbfb;
	text-decoration: none;
}
.home-title {
	margin-top: 10px;
	font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
	font-size: 2em;

}
.msg {
	padding: 35px;
	background-color: #6f7364;
	line-height: 1.5em;
}
.msg p {
	font-size: .8em;
	padding-bottom: 15px;


}
.book,.join {
	background-color: #d9c2a3;
	color: black;
	text-decoration: none;
	font-size: 18px;
	padding: 15px 30px;
	margin-top: 50px;
	border-radius: 5px;
}
.card-img {
	border: 10px solid #d9c2a3;
 }
 main section img {
	box-sizing: border-box;
 }
	     
.rivers-card, .camping-card, .rapids-card {
	margin: 200px 0;    
}